.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    mix-blend-mode: color-burn;
}
.menu{
    width: 17%;
    text-align: left;
}
.container{
    display: flex;
}
.Agenda{
    width: 13%;
    padding: 20px;
    background-color: #817c74;
    text-align: center;
}
aside{
    background-color: #817c74;
    margin: 0%;
}
footer{
    text-align: center;
    background-color:#b8aa95;
    border-top: 1px solid #b8aa95cc;
}
a{
    color: black;
}

body{
    font-size: large;
    margin: 0%;
    padding: 0%;
}
header{
    background-color:#b8aa95;

}
main{
    width: 70%;
    padding: 20px;
    text-align: center;
    background-color: #e6d1b1;
}
h2{
    text-align: center;
    font-size: x-large;
}
i{
    text-align: center;
}
h3{
    text-align: center;
}
.nav{
    text-align: center;
}
nav{
    text-align: center;
}
.tabela{
    margin-left: auto;
    margin-right: auto;
    background-color: brown;
    border: #774c13;
}
